.headerMaster {
    width: 99%;
    background-color: rgba(255, 255, 255, .8);
    padding: 0px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #808000;
    font-size: 38pt;
    font-family: 'Anton', sans-serif;
    color: #808000;
    margin: 20px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 10px white;
}

h4 {
    font-size: 13pt;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Lato', sans-serif;
}

br {
    display: none;
}

.btn, .btn-default {
    background-color: #808000;
    color: white;
}

#submitPress {
    color: white;
    letter-spacing: 1px;
}

.btn:hover, .btn-default:hover {
    background-color: #808000;
    color: white;
    background-color: black;
}

a:visited, a:active, a:link {
    background-color: #808000;
    color: white;
}

#submitPress:hover {
    color: white;
    letter-spacing: 1px;
    background-color: black;
}

#input {
    color: white;
    letter-spacing: 1px;
}

#user-input {
    margin: 10px 0 0 0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 40pt;
    letter-spacing: 2px;
    word-spacing: 4px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}

input {
    margin-bottom: 10px 0 0 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    word-spacing: 1px;
}

form {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    padding: 10px 0 0 0;
}

.bodyWidth {
    width: 50%;
    margin: auto;
}

button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

.userInput {
    font-size: 14pt;
    color: white; 
    padding: 0 0 0 0;
}

label {
    color: #fff;
}

.btn-default {
    color: #000;
    font-size: medium;
    margin: 0 0 5px 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

body {
    background-color: #808000;
    background-image: url("../images/rockbackground3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 90px;

}

.holder {
    float: left;
}

#display-images {
    color: white;
    font-size: 11pt;
}

@media screen and (max-width: 991px) and (min-width: 772px) {

br {
    display: inline-block;
}

body {
    background-color: #808000;
    background-image: url("../images/rockbackground.jpg");
    background-repeat: no-repeat;
    background-position: 0px 180px;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
}

}


@media screen and (max-width: 771px) and (min-width: 0px) {

br {
    display: inline-block;
}

.container {
    width: 450px;
}

.headerMaster {
    width: 99%;
    background-color: rgba(255, 255, 255, .8);
    padding: 0px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #808000;
    font-size: 20pt;
    font-family: 'Anton', sans-serif;
    color: #808000;
    margin: 20px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

h4 {
    font-size: 11pt;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #808000;
    background-image: url("../images/rockbackground.jpg");
    background-repeat: no-repeat;
    background-position: 0px 168px;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
}

#display-images {
    width: 100%;
}

h1 {
    font-size: 28pt;
}

}


